FocoWeb v2/Presentacion/Service References/wsLogin/Servicios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vStrConexion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="host" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:UsuarioSistema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UsuarioSistema">
        <s:complexContent mixed="false">
          <s:extension base="tns:Usuario">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="LastPage" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_MAESTRO" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="NickName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Estado" type="tns:EstadoUsuario" />
          <s:element minOccurs="1" maxOccurs="1" name="EsAdmin" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Empresas">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="EmpresaSelected" type="tns:Empresa" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_PARTICULAR" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreLargo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdPerfil" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Perfil" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="perfilInmobiliario" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="perfilOperacional" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="vePrebalance" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Opciones">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hostName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LoggedIn" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UsuarioTest" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="usuarioInterno" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="vePreAvance" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="veEfectoAuditoria" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PaginaInicio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Block_MO_GG" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="EstadoUsuario">
        <s:restriction base="s:string">
          <s:enumeration value="Desconocido" />
          <s:enumeration value="Activo" />
          <s:enumeration value="Inactivo" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Empresa">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tipoMando" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="muestraDescargaInf" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="BaseDatos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BDServer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BDUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BDPassword" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Estado" type="tns:EstadoEmpresa" />
          <s:element minOccurs="0" maxOccurs="1" name="DatosConexion" type="tns:DatosConexion" />
          <s:element minOccurs="1" maxOccurs="1" name="ObraIDSelected" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ObraNombreSelected" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObraCodigoSelected" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GanttIDSelected" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="GanttNombreSelected" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaEvalSelected" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaAvaIDSelected" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="PorcAvanceSelected" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PorcDesvSelected" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DesvProyDias" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaTermProy" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="utilizaFoco" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="cierreManual" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaCierreBalance" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaAvaCierreBalance" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ganttCierreBalance" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idGanttCierreBalance" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="vistoBueno" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="estadoFlujo" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="cargoGerente" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="resultadoActualFoco" nillable="true" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="calendario" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="usaInformeCC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaCierreMO" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaCierreSC" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="porcRealBal" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="paginaInicio" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="EstadoEmpresa">
        <s:restriction base="s:string">
          <s:enumeration value="Desconocido" />
          <s:enumeration value="Activo" />
          <s:enumeration value="Inactivo" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="DatosConexion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Servidor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Catalogo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UsarWindowsAutentification" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:25686/Servicios.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:25686/Servicios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>